{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 60,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none"
}
